<section id="download" class="download text-center" style="background-color: #00a8ff;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Download</h2>
                <h3>Requirements</h3>
                
                
                
                Android 4.4+ (Kitkat) Device Required (~79% of Global Android Devices)</li>
 <h3>Installation</h3>
Open this page in your device's internet browser and download the installation package using the link below.</li>
<br/><br/>
Open with APK Installer app when prompted. You may be asked to enable "Allow Unknown Sources" in your settings.</li>
<br/><br/>      
                
                <div class="badges">
                   <a class="badge-link" href="img/PacificTides2017.apk"><img style="border-color: white; border-width: 5px; border-style: solid; border-radius: 10%; width: 280px; height: 90px" src="img/android-download-button.png" alt=""></a>
                 
                   
                </div>
            </div>
        </div>
    </div>
</section>
